<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> L'equipe de nuit</h1>
    <p class="lead">Voici la team de nuit !</p>
  </div>
</div>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><strong>Antoine.R<strong/></div>
  <div class="card-body text-info">
    <h5 class="card-title">Team de nuit</h5>
    <p class="card-text">Téléphone : 06 26 99 25 75<br/> Contact Discord : Majestic#5392</p>
  </div>
</div>
